@keyframes arrow_anim01 {
	25% {
		right: 25%;
		opacity: 0.75;
	}
	100% {
		right: 20%;
		opacity: 0;
	}
}
@keyframes arrow_anim02 {
	25% {
		right: 5.5%;
		opacity: 0.75;
	}
	100% {
		right: 4%;
		opacity: 0;
	}
}
@keyframes arrow_anim03 {
	25% {
		right: 30%;
		opacity: 0.75;
	}
	100% {
		right: 24%;
		opacity: 0;
	}
}
@keyframes arrow_anim04 {
	25% {
		right: 20%;
		opacity: 0.75;
	}
	100% {
		right: 14%;
		opacity: 0;
	}
}
