<section class="l-contact fade-up">
	<div class="l-contact__container">
		<p class="l-contact__title">お問合わせ</p>
		<p class="l-contact__text">これはテキストです。これはテキスト<br />です。これはテキストです。これはテキストです。<br />これはテキストです。</p>
		<a class="l-contact__tel" href="tel:050-1541-0722"><img src="../../images/common/contact-tel.png" alt="電話アイコン" />050-1541-0722</a>
		<div class="l-contact__button-wrapper">
			<a class="l-contact__button c-btn l-contact-bgleft" href="./contact.html"
				><span class="l-contact__bg"><i class="fa fa-envelope"></i>お問い合わせフォーム</span></a
			>
		</div>
	</div>
</section>
