<section class="l-document-request fade-up">
	<div class="l-document-request__container">
		<p class="l-document-request__title">資料請求</p>
		<p class="l-document-request__text">これはテキストです。これはテキスト<br />です。これはテキストです。これはテキストです。</p>
		<div class="l-document-request__button-wrapper">
			<a class="l-document-request__button c-btn l-document-request-bgleft" href=""
				><span class="l-document-request__bg"><i class="fa fa-envelope"></i>会社案内を請求</span></a
			>
		</div>
	</div>
</section>
