<footer class="l-footer wow animate__fadeIn" data-wow-duration="1s" data-wow-delay="1s">
	<div class="l-footer_container l-inner">
		<div class="l-footer__top">
			<figure class="l-footer__logo-wrapper">
				<a class="l-footer__logo-link" href="#">
					<!-- <img class="l-footer__logo" src="../../images/common/footer-logo.png" alt="アドネス株式会社のロゴ" /> -->
					<picture class="l-footer__logo-image">
						<source srcset="../images/common/footer-logo.svg" media="(min-width: 768px)" />
						<img src="../images/common/footer-logo.svg" alt="アドネス株式会社ロゴ" />
						<!-- <source srcset="../images/common/footer-logo.svg" media="(min-width: 768px)" width="272" height="75" viewBox="0 0 72 75" />
						<source srcset="../images/common/footer-logo.svg" media="(min-width: 400px)" width="170" height="50" viewBox="0 0 130 40" />
						<img src="../images/common/footer-logo.svg" alt="アドネス株式会社ロゴ" width="107" height="26" viewBox="0 0 108 26" /> -->
					</picture>
				</a>
			</figure>
			<div class="l-footer__snsIcon-wrapper">
				<a class="l-footer__snsIcon"><img src="../../images/common/footer-icon-youtube.png" alt="YouTube" /></a>
				<a class="l-footer__snsIcon"><img src="../../images/common/footer-icon-twitter.png" alt="Twitter" /></a>
				<a class="l-footer__snsIcon"><img src="../../images/common/footer-icon-facebook.png" alt="Facebook" /></a>
			</div>
		</div>
		<div class="l-footer__bottom">
			<div class="l-footer__menu-wrapper">
				<div class="l-footer__menu">
					<div class="l-footer__nav-item"><a href="./company.html">会社概要</a></div>
					<span class="l-footer__nav-bar"></span>
					<div class="l-footer__nav-item"><a href="./service.html">サービス</a></div>
					<span class="l-footer__nav-bar"></span>
					<div class="l-footer__nav-item"><a href="./news.html">ニュース</a></div>
					<span class="l-footer__nav-bar"></span>
					<div class="l-footer__nav-item"><a href="./case.html">導入事例</a></div>
					<span class="u-hidden-tab u-br u-newline"></span>
					<div class="l-footer__nav-item"><a href="./privacy-policy.html">プライバシーポリシー</a></div>
				</div>
			</div>
			<div class="l-footer__contact-wrapper">
				<a class="l-footer__contact-item"><img src="../../images/common/footer-icon-document-request.png" alt="資料請求" />資料ダウンロード</a>
				<a class="l-footer__contact-item"><img src="../../images/common/footer-icon-tel.png" alt="電話番号" />050-1541-0722</a>
				<a class="l-footer__contact-item"><img src="../../images/common/footer-icon-contact.png" alt="お問い合わせ" />お問い合わせ</a>
			</div>
		</div>
		<div class="l-footer__copyright">
			<p>
				<small>© 2021 AddNess</small>
			</p>
		</div>
	</div>
</footer>
