.entry-404 {
	margin: rem(100) auto;
	text-align: center;
}
.entry-404__head {
	font-size: rem(50);
}
.entry-404__head span {
	margin-right: rem(30);
}
.entry-404__lead {
	margin-top: rem(30);
	font-size: rem(20);
	font-weight: 700;
}
.entry-404__content {
	margin-top: rem(15);
	font-size: rem(16);
}
