.p-news__container {
	width: 100vw;
	margin: 0 calc(50% - 50vw);
	padding-bottom: rem(290);
	background-image: url(../images/common/blueline_bottomboth.png);
	background-position: right 0% bottom 0%;
	background-repeat: no-repeat;
	background-size: 100% rem(70);
	@include mq('tab') {
		background-size: 100% rem(170);
		padding-bottom: rem(401);
	}
}
.p-news__content {
	margin-top: rem(23.4);
	@include mq('tab') {
		padding-left: rem(129);
		padding-right: rem(129);
		margin-top: rem(65);
	}
}
.p-news__group-wrapper {
	margin-top: rem(35);
	@include mq('tab') {
		margin-top: rem(107);
	}
}
.p-news__group {
	max-width: rem(500);
	width: 100%;
	margin: 0 auto;
	margin-top: rem(-18);
	@include mq('tab') {
		margin-top: 0;
		max-width: rem(1100);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: rem(21);
		row-gap: rem(21);
	}
}
.p-news__item {
	margin-top: rem(18);
	@include mq('tab') {
		margin-top: 0;
	}
}
.p-news__card {
	max-width: rem(500);
	width: 100%;
	display: block;
	box-shadow: 0 0 rem(10) rgba(52, 61, 100, 0.02);
	cursor: pointer;
	background-color: #fff;
	z-index: 10;
	border: rem(1) solid #d3d3e1;
	transition: 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	@include mq('tab') {
		// background-color: transparent;
	}
}
.p-news__card:hover {
	transform: scale(0.9);
	background-color: rgba(0, 0, 0, 0.2);
}
.p-news__card:nth-child(2n - 1) {
	@include mq('tab') {
		margin-right: rem(21);
	}
	@include mq('pc') {
		margin-right: 0;
	}
}
.p-news__card:not(:nth-child(3n)) {
	@include mq('pc') {
		margin-right: rem(21);
	}
}
